<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe App</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
    
<body>
    <nav class="navbar">
        <div class="site-logo">
            <img src="/img/logo.jpg" alt="Logo">
            <p class="site-name">The Recipe App</p>
        </div>
        <ul class="nav-list">
            <li id="home"><a href="/">HOME</a></li>
            <li id="about"><a href="/about">ABOUT</a></li>
            <li id="contact"><a href="/contact">CONTACT US</a></li>
            <li id="login"><a href="/login">LOGIN</a></li> 
        </ul>
        <div class="right-nav">
            <form action="/search" method="post">
                <input type="text" name="keyword" id="search">
                <button class="btn" type="submit">Search</button>
            </form>
        </div>
    </nav>