<%- include("partials/header"); %> 

<div class="red-back"></div>
    
<section class="home" id="home">
    <div class="home-text">
        <p class="main-text">Welcome to <br><span>The Recipe App</span></p>
        <p class="subtext">The ultimate site for all your favorite recipes...</p>
        <a href="/recipe/random" class="random">Get Me a Recipe...</a>
    </div>
    <img src="img/logo.jpg" alt="Meal Pic" class="home-img">
</section>

<%- include("partials/footer"); %> 